._body {
	display: flex;
	flex-direction: column;
	height: 100%;
	border-bottom: 2px solid #4E4963;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	transition: all 500ms ease 0ms;

	&:hover {
		color: #000;
		border-bottom: 2px solid #01C71B;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	}
}

._photo {
	width: 100%;
	height: 135px;
	overflow: hidden;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: all 0.5s ease 0s;
	}

	&:hover {
		img {
			transform: scale(1.02);
		}
	}
}

._content {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	padding: 20px;
}

._title {
	font-size: 14px;
	line-height: 1.5;
	font-weight: 700;
	margin-bottom: 10px;

	display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

._description {
	font-size: 12px;
	line-height: 1.5;
	font-weight: 300;

	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;  
	overflow: hidden;
}

._statistics {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;

	font-size: 12px;
	font-weight: 300;
}