._body {
	display: block;
	margin-bottom: 35px;

	background-color: #4E4963;
	color: #fff;

	&:hover {
		color: #fff;
	}
}

._photo {
	width: 100%;
	height: 330px;
	overflow: hidden;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: all 0.5s ease 0s;
	}

	&:hover {
		img {
			transform: scale(1.02);
		}
	}
}

._content {
	padding: 30px 20px;
	height: 100%;
}

._date {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;

	font-size: 12px;
	font-weight: 100;
	margin-bottom: 40px;
	opacity: 0.8;
}

._title {
	font-size: 14px;
	font-weight: 700;
	line-height: 1.5;
	margin-bottom: 35px;
}

._description {
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;  
	overflow: hidden;
	font-size: 12px;
	font-weight: 100;
	opacity: 0.8;
}