._body {
	display: flex;
	justify-content: space-between;
	align-items: stretch;

	padding: 20px 0;
	margin: 0 20px;
	border-bottom: 1px solid #E9E9E9;
}

._statistics {
	display: flex;         
	justify-content: space-between;
	align-items: stretch;
	margin-bottom: 10px;

	> div {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: nowrap;
	}

	font-size: 12px;
	font-weight: 300;
}

._photo {
	flex: 0 0 60px;
	margin-right: 20px;
}

._information {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
}

._title {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;  
	overflow: hidden;

	font-size: 12px;
	font-weight: 500;
}