._wrapper {
	margin-top: 50px;
}

._line {
	position: relative;
	width: 100%;
	height: 4px;
	background-color: #EFEFEF;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
	
		width: 20%;
		height: 100%;
	}

	&:before {
		left: 50%;
		z-index: 2;
		transform: translateX(-50%);
		width: 40%;
		background-color: #01C71B;
		animation: motion 4s linear 0ms infinite alternate;
	}

	&:after {
		z-index: 1;
		width: 60%;
		background-color: #2A2836;
	}
}

._body {
	padding: 30px;
	background-color: #4E4963;
	position: relative;
}

._title {
	font-family: "Jost", sans-serif;
	font-size: 12px;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 40px;
}

._links {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	flex-wrap: wrap;
	max-height: 250px;

	a {
		font-family: "Jost", sans-serif;
		font-size: 12px;
		font-weight: 300;
		color: #fff;
		margin: 7px 0;

		img {
			width: 20px;
			height: 20px;
			margin-right: 20px;
		}

		&:hover {
			img {
				animation: turn 800ms ease 0ms alternate;
			}
		}
	}
}

._copyright {
	font-size: 10px;
	color: #fff;
	text-align: end;
}

@keyframes motion {
	0% {
		left: 50%;
		transform: translateX(-50%);
	}
	100% {
		left: 100%;
		transform: translateX(-100%);
	}
}
  
@keyframes turn {
	0% {
		transform: scaleX(1);
	}
	50% {
		transform: scaleX(-1);
	}
	100% {
		transform: scaleX(1);
	}
}