._wrapper {
	margin-bottom: 30px;
}

._line {
	position: relative;
	width: 100%;
	height: 4px;
	background-color: #EFEFEF;
	margin-bottom: 30px;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;

		height: 100%;
	}

	&:before {
		right: 50%;
		z-index: 2;
		transform: translateX(50%);
	
		width: 40%;
		background-color: #4E4963;
		animation: motion 4s linear 0ms infinite alternate;
	}
	
	&:after {
		right: 0;
		z-index: 1;
	
		width: 60%;
		background-color: #01C71B;
	}
}

._top {
	padding-bottom: 20px;
	border-bottom: 10px solid #c4c4c4;
}

._languages {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 100%;

	a {
		font-family: "Jost", sans-serif;
		font-weight: 400;
		color: #000;
		text-transform: uppercase;
		margin-left: 30px;
	}
}

._navigation {
	border-bottom: 3px solid #4E4963;

	ul {
		list-style-type: none;
	}
}

._navigation li {
	padding: 0 15px;
}

._link {
	font-family: "Jost", sans-serif;
	font-weight: 400;
	color: #000;
	display: inline-block;
	padding: 10px;
	position: relative;

	&:after {
		content: '';
		position: absolute;
		bottom: -3px;
		left: 50%;
		transform: translate(-50%);
		width: 0;
		height: 3px;
	
		transition: all 500ms ease 0ms;
		background-color: #01C71B;
	}

	&:hover:after,
	&_current:after {
		width: 100%;
	}
}

@keyframes motion {
	0% {
		right: 50%;
		transform: translateX(50%);
	}
	100% {
		right: 100%;
		transform: translateX(100%);
	}
}