._body {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

._body a {
	box-shadow: none;
}

._showMore {
	text-align: end;
	padding: 20px 10px;

	button {
		display: inline-flex;
		justify-content: space-between;
		align-items: center;

		font-size: 12px;
		line-height: 1;

		border: none;
		background-color: transparent;

		img {
			width: 12px;
			margin-left: 5px;

			transition: all 0.5s ease 0s;
		}

		&:hover {
			img {
				transform: scale(1.1);
			}
		}
	}
}