._body {
	width: 100%;
	overflow: hidden;
	margin-bottom: 20px;
}

._title {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 20px;	
}

._date {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 20px;
	
	font-size: 14px;
	font-weight: 300;
	color: #818181;

	img {
		width: 15px;
		height: 15px;
		margin-right: 10px;
	}
}

._poster {
	width: 100%;
	height: 300px;
	overflow: hidden;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}

._content {
	padding-top: 10px;
	margin-top: 20px;
	border-top: 1px solid #01C71B;

	img {
		max-width: 100%;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	ul {
		list-style-position: inside;
	}
}