
._search {
	display: flex;
	justify-content: center;
	align-items: stretch;
	box-shadow: 0px 1px 4px rgba(124, 124, 124, 0.2);

	input {
		flex: 1 1 auto;
		border: none;
		padding: 10px 20px;
		font-size: 12px;
		color: #DBDBDB;
		transition: all 0.5s ease 0s;

		&::placeholder {
			color: #DBDBDB;
		}

		&:hover,
		&:focus {
			outline: none;
			box-shadow: 0px 1px 4px rgba(124, 124, 124, 0.3);
		}
	}

	button {
		flex: 0 1 40px;
		height: 40px;
		outline-offset: unset;
		border: none;
		background-color: #01C71B;
	}

	&:hover {
		background-color: #0fac24;
	}
}