._body {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	height: 85px;
	border-right: 1px solid #01C71B;
	transition: box-shadow 500ms ease 0ms;

	&:hover {
		color: initial;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

		img {
			transform: scale(1.03);
		}
	}
}

._photo {
	flex: 0 0 140px;
	overflow: hidden;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: all 0.5s ease 0s;
	}
}

._content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;

	flex: 1 1 auto;
	height: 100%;
	padding: 0 15px;
}

._title {
	margin: 15px 0;

	font-size: 12px;
	font-weight: 600;

	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;  
	overflow: hidden;
}

._statistics {
	display: flex;
	justify-content: flex-end;
	font-size: 12px;

	& > div:first-child {
		margin-right: 20px;
	}
	
	img {
		margin-right: 10px;
	}
}
