._body {
	display: inline-block;
	width: 100%;
	height: 100%;
}

._content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	color: #fff;
	padding: 20px;
	background-color: #4E4963;
}

._photo {
	width: 100%;
	height: 300px;
	overflow: hidden;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: all 0.5s ease 0s;
	}

	&:hover {
		img {
			transform: scale(1.02);
		}
	}
}

._content {
	height: 100px;
}

._title {
	font-size: 14px;
	font-weight: 500;
	line-height: 1.3;

	display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

._date {
	font-size: 12px;
	font-weight: 300;
	text-align: end;

	img {
		width: 10px;
		height: 10px;
		margin-right: 10px;
	}
}