._body {
	box-shadow: 0 2px 10px rgba(129, 129, 129, 0.2);
}

._header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	border-bottom: 1px solid #01C71B;
}

._title {
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
}

._link {
	font-size: 12px;
	line-height: 1;
	color: #4E4963;

	img {
		width: 12px;
		height: 12px;
		
		transform: rotate(-90deg);
		margin-left: 8px;
		transition: all 0.5s ease 0s;
	}

	&:hover {
		img {
			transform: rotate(-90deg) scale(1.1);
		}
	}
}