._body {
	display: inline-block;
	position: relative;
	width: 100%;
	height: 100%;

	&:hover {
		img {
			transform: scale(1.02);
		}

		._information {
			background-color: rgba(78, 73, 99, 1);
		}
	}
}

._photo {
	width: 100%;
	height: 100%;
	height: 400px;
	overflow: hidden;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: all 0.5s ease 0s;
	}
}

._information {
	position: absolute;
	bottom: 0;
	
	width: 100%;
	height: 70px;
	padding: 10px 20px;
	background-color: rgba(78, 73, 99, 0.8);
	transition: all 500ms ease 0ms;
}

._title {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
    overflow: hidden;
	
	font-size: 20px;
	font-weight: 700;
	color: #fff;
}
