._body {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	transition: all 500ms ease 0ms;
	padding: 10px 12px;

	&:hover {
		color: #000;
		box-shadow: 0 2px 10px rgb(0, 0, 0, 0.2);
	
		img {
			transform: scale(1.03);
		}
	}
}

._photo {
	flex: 1 0 60px;
	height: 100%;
	min-height: 60px;
	overflow: hidden;
	margin-right: 20px;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: all 0.5s ease 0s;
	}
}

._content {
	flex: 1 1 auto;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
	width: 100%;
}

._title {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;

	font-size: 12px;
	font-weight: 400;
}

._information {
	display: flex;
	justify-content: space-between;
}

._category {
	color: #D10202;
}

@media (max-width: 991px) {
	._body {
		flex-direction: column;
		padding: 0;
		box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.3);
	}

	._content {
		padding: 20px;
	}

	._photo {
		min-height: 140px;
		margin: 0;
	}

	
}