._item {
	padding: 20px 0;
	margin: 0 20px;
	border-bottom: 1px solid #E9E9E9;
}

._statistics {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;

	font-size: 12px;
	font-weight: 300;
}

._information a {
	display: inline-flex;
	align-items: center;
}

._photo {
	flex: 0 0 40px;
	width: 100%;
	height: 40px;
	overflow: hidden;
	margin-right: 20px;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: all 0.5s ease 0s;
	}

	&:hover {
		img {
			transform: scale(1.02);
		}
	}
}

._title {
	flex: 1 1 auto;
	width: 100%;

	font-size: 12px;
	font-weight: 500;

	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;  
	overflow: hidden;
}