._body {
	box-shadow: 0px 2px 10px rgba(129, 129, 129, 0.25);
}

._header {
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	text-transform: uppercase;

	padding: 20px;
	background-color: #4E4963;
}