
._header {
	border-top: 2px solid #C4C4C4;
	border-bottom: 0.5px solid #C4C4C4;
}

._body {
	margin-bottom: 100px;
}

._navigationItem {
	position: relative;
	text-align: center;
	padding: 20px 0;

	&:before {
		content: '';
		position: absolute;
		top: -2px;
		left: 0;
		
		width: 0;
		height: 2px;
		background-color: #01C71B;
		transition: all 500ms ease 0ms;
	}

	&_active {
		&:before {
			width: 100%;
		}
	}
}

._navigationItem {
	p {
		display: inline-block;
		width: auto;
		cursor: pointer;
		padding: 0 10px;
	
		font-family: 'Jost', sans-serif;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.5;
	}
}

._buttons {
	text-align: center;
	padding: 15px 0;
}

._button {
	display: inline-block;
	font-size: 14px;
	font-weight: 400;
	border: none;
	outline: none;
	padding: 5px 20px;
	border-radius: 2px;
}

._buttonAdd {
	color: #FFF;
	border: 1px solid #019A15;
	background-color: #01C71B;

	&:hover {
		color: #FFF;
	}
}

._buttonFilter {
	border: 1px solid #4E4963;
	background-color: #FFF;

	img {
		margin-right: 15px;
	}
}

._bottom {
	font-family: 'Jost', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	text-align: center;

	padding: 35px 0;
	background-color: #4E4963;
}