._body {
	padding: 30px 0;
}

._search {
	display: flex;
	justify-content: center;
	align-items: stretch;
	width: 100%;
	box-shadow: 0px 1px 4px rgba(124, 124, 124, 0.2);

	input {
		flex: 1 1 auto;
		border: none;
		padding: 10px 20px;
		font-size: 12px;
		color: #dbdbdb;

		&:hover,
		&:focus {
			outline: none;
			box-shadow: 0px 1px 4px 5px rgba(124, 124, 124, 0.2);
		}
	}

	button {
		flex: 0 1 40px;
		height: 40px;
		outline-offset: unset;
		border: none;
		background-color: #01C71B;

		&:hover {
			background-color: #0fac24;
		}
	}
}

._logout {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 100%;

	img {
		cursor: pointer;
	}
}