._body {
	display: flex;
	justify-content: center;
	align-items: stretch;
}

._information {
	display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
	margin-right: 10px;
	font-size: 12px;
}

._name {
	font-weight: 600;
}

._position {
	font-weight: 300;
}

._photo {
	max-width: 60px;
	max-height: 60px;
	border-radius: 50%;
	overflow: hidden;

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
		object-position: center;
	}
}