._wrapper {
	display: flex;
	justify-content: center;
	align-items: stretch;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;
}

._body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

._title {
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 30px;
}

._form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

._inputField {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

	position: relative;
	margin-bottom: 20px;
	min-width: 290px;
}

._inputField label {
	font-size: 16px;
	margin-bottom: 5px;
}

._inputField input {
	font-size: 14px;
	border: none;
	border-radius: 30px;
	padding: 10px 20px;
	box-shadow: 0px 0px 5px 2px rgba(124, 124, 124, 0.2);
	transition: all 500ms ease 0ms;
}

._inputField input[name="password"] {
	padding: 10px 40px 10px 20px;
}

._inputTypeToggler {
	position: absolute;
	bottom: 15%;
	right: 10px;

	width: 20px;
	cursor: pointer;
}

._inputTypeToggler img {
	width: 100%;
}

._inputField input:hover,
._inputField input:focus {
	outline: none;
	box-shadow: 0px 0px 5px 4px rgba(124, 124, 124, 0.2)
}

._error {
	position: absolute;
	top: 20px;
	right: 20px;
	color: #FFF;
	background-color: #DD5145;
	border-radius: 30px;
	padding: 5px 20px;
	box-shadow: 0px 0px 5px 2px rgba(124, 124, 124, 0.2);

	animation: translate 500ms ease 0ms 1;
}

._button {
	color: #FFF;
	padding: 0 30px;
	min-height: 40px;
	outline-offset: unset;
	border: none;
	border-radius: 30px;
	background-color: #01C71B;
	transition: all 500ms ease 0ms;
}

._button:hover {
	box-shadow: 0px 0px 5px 4px rgba(124, 124, 124, 0.2)
}

@keyframes translate {
	0% {
		transform: translateX(100%);
	}	
	100% {
		transform: translateX(0);
	}
}