._body {    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    min-height: 50vh;
}

._error {
    position: relative;
    padding-bottom: 2rem;

    font-size: 1.5rem;
}

._error:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: 1;
    transform: translateX(-50%);

    width: 50%;
    max-width: 300px;
    height: 2px;
    background-color: #C4C4C4;
}

._error span {
    font-weight: 600;
}

._link {
    font-size: 1.8rem;
}

._link:hover {
    color: initial;
}